form{
    background-color: aliceblue;
    width: 525px;
    height: 400px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
gap: 6px;
padding: 20px;
align-items: center;
}